@use 'base/mixins' as m;
@use 'base/variables' as v;

.header {
    padding-top: 5rem;

    &__grid {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.tablet { 
            flex-direction: row;
            justify-content: space-between;
        }
    }
}
