@use 'base/mixins' as m;
@use 'base/variables' as v;

.navegacion {
    background-color: v.$primario;
    padding: .3rem 0;
    margin: 2rem 0;

    &__border {
        border-block: 2px dashed v.$blanco; //border-block aplica arriba y abajo. y dashed hace que la linea se vea punteada
        padding: 1.7rem 0;
    }
    &__contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.tablet { 
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__enlace {
        color: v.$blanco;
        font-size: 2.4rem;
        margin-bottom: 1.2rem;

        @include m.tablet { 
            margin-bottom: 0;
        }
        
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}