@use 'base/mixins' as m;
@use 'base/variables' as v;

.sociales {
    margin: 5rem 0;
    display: flex;

    @include m.tablet { 
        margin: 0;
    }
    &__enlace {
        
        &::before {
            content: '';
            padding: 2rem;
            display: inline-block; //lo hace un cuadrado perfecto
        }

        &[href*="facebook.com"]::before { 
            background-image: url(../../../../build/img/icono_facebook.svg);
        }//el * hace que busque la palabra facebook.com en cualquier parte del vinculo
        &[href*="twitter.com"]::before { 
            background-image: url(../../../../build/img/icono_twitter.svg);
        }
        &[href*="instagram.com"]::before { 
            background-image: url(../../../../build/img/icono_instagram.svg);
        }
        &[href*="pinterest.com"]::before { 
            background-image: url(../../../../build/img/icono_pinterest.svg);
        }
        &[href*="youtube.com"]::before { 
            background-image: url(../../../../build/img/icono_youtube.svg);
        }
        &[href*="tiktok.com"]::before { 
            background-image: url(../../../../build/img/icono_tiktok.svg);
        }   
    }
    &__accesible { //hace invisible los textos de redes sociales pero siguen siendo visibles en un dispositivo lector de pantallas
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1rem;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
        display: block;
    }
}