@use 'variables' as v; 

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}


@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;
    padding: 2rem 2rem;
    color: $colorTexto;
    margin-top: 2rem;
    font-size: 2.2rem;
    font-weight: 400;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    transition: background-color;
    transition-duration: 300ms;

    @include tablet {
        width: auto;
    }
    &:hover {
        background-color: darken($bgColor, 10%);
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin headingCursiva {
    text-align: center;
    color: v.$secundario;
    font-family: v.$fuenteCursiva;
    line-height: .8;
    font-weight: 400;
    font-size: 4rem;

    span {
        color: v.$negro;
        display: block;
        text-transform: uppercase;
        font-family: v.$fuentePrincipal;
    }
}

@mixin heading {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 4rem;
}