@use 'base/mixins' as m;
@use 'base/variables' as v;

.bienvenida {
    text-align: center;

    &__heading {

        @include m.headingCursiva;
    }
    
    &__texto {
        font-size: 2.6rem;
        color: v.$gris;
        max-width: 50%; //hace que haga un salto de linea 
        margin: 4rem auto 0 auto; //centra el contenido
        line-height: 1.8; //interlineado
    }
}
