@use 'base/mixins' as m;
@use 'base/variables' as v;

.cards {

    &__grid {
        @include m.tablet { 
            @include m.grid(3, 2rem);
        }
    }
}

.card {
    max-width: 35rem;
    margin: 0 auto 2rem 0;

    &:last-of-type {
        margin-bottom: 0;
    }
    @include m.tablet { 
        max-width: unset;
        margin: 0;
    }

    &__imagen {
        width: 100%;
        border: .5rem solid v.$blanco;
        transition-property: transform;
        transition-duration: 300ms;

        &:hover {
            transform: rotate(4deg) scale(1.3);
        }
    }
    &__contenido {
        max-width: 90%;
        margin: 0 auto;
        background-color: v.$blanco;
        transform: translateY(-5rem); //mueve el contenido de arriba abajo en este caso lo sobrepone 5rem arriba de la imagen
    }
    &__heading {
        @include m.headingCursiva;
        font-size: 3.4rem;
        padding: 2rem;
    }
    &__enlace {
        @include m.boton(v.$secundario, v.$blanco);
        display: block;
    }
}