@use 'base/mixins' as m;
@use 'base/variables' as v;

.cita {
    background-image: url(../../../../build/img/bg_citas.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; //hace que la imagen se quede fija y el demas contenido si haga scroll
    padding: 5rem 0;
    text-align: center;
    &__heading {
        @include m.heading;
        color: v.$blanco;
        font-size: 6rem;
    }
    &__texto {
        max-width: 60rem; //genera saltos de linea
        margin: 0 auto; //coloca el contenido en media
        text-align: center; //centra el texto
        color: v.$blanco;
        line-height: 2;
    }
    &__enlace {
        @include m.boton(v.$primario, v.$blanco);
        padding: 2rem 10rem;
    }
}