@use 'base/mixins' as m;
@use 'base/variables' as v;

.horario {
    background-image: linear-gradient(to bottom, v.$primario 0%, v.$primario 50%, transparent 50%), url(../../../../build/img/bg_horarios.jpg);
    background-repeat: no-repeat;
    background-position: center, bottom center;
    color: v.$blanco;

    @include m.tablet { 
        background-image: linear-gradient(to right, v.$primario 0%, v.$primario 50%, transparent 50%), url(../../../../build/img/bg_horarios.jpg);
        background-position: center, top right;
    }

    &__grid {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        @include m.tablet { 
            grid-template-rows: unset;
            @include m.grid(2, 5rem);
        }
    }
    &__contenido {
        padding: 5rem 0;
    }
    &__heading {
        @include m.heading;
    }
    &__texto {
        font-size: 2.2rem;
        line-height: 1.8;
        text-align: center;
    }
}
.tabla {
    width: 100%;
    border: .5rem solid v.$secundario;
    text-align: center;
    border-collapse: collapse; //elimina las lineas de separacion de cada elemento

    &__thead {
        background-color: v.$secundario;
    }
    &__th {
        padding: 2rem;
    }
    &__tr {
        &:hover {
            background-color: darken(v.$primario, 10%);
        }
    }
    &__td {
        padding: 1rem;
        font-size: 2.2rem;
    }
}