@use 'base/mixins' as m;
@use 'base/variables' as v;

.productos {
    &__heading {
        @include m.headingCursiva;
        margin-bottom: 5rem;
    }
    &__grid {
        @include m.grid(1, 2rem);
        @include m.tablet { 
            @include m.grid(2, 2rem);
        }
        @include m.desktop { 
            @include m.grid(4, 2rem);
        }
    }
}

.producto {
    &__contenido {
        background-color: v.$blanco;
        padding: 2rem;
    }
    &__mask {
        overflow: hidden;  //hace que la imagen no se salga del espacio cuando crece
    }
    &__imagen {
        width: 100%; //hace que la imagen tome todo el espacio disponible
        transition-property: transform;
        transition-duration: 300ms; //hace que el movimiento sea mas fluido
        &:hover {
            transform: scale(1.2);//hace que la imagen se vea un poco mas grande cuando se le pasa el cursor (mouse);
        }
    }
    &__nombre {
        @include m.heading;
        font-size: 2.4rem;
        color: v.$secundario;
    }
    &__descripcion {
        font-size: 1.6rem;
        text-transform: uppercase;
        line-height: 1.8; //separacion entre lineas 
    }
    &__precio {
        text-align: center;
        color: v.$gris;
        font-size: 2.8rem;
        margin: 0;
    }
}