@use 'base/mixins' as m;
@use 'base/variables' as v;

.slider {
    overflow: hidden;
    position: relative; //hace que las configraciones de app.js tomen como referencia el elemto y no el body

    &__slide {
        height: 100%;
        flex-shrink: 0;
        width: 100%;
        position: relative;
        transition-property: transform;
    }
    &__imagen {
        width: 100%; //lena todo el espacio disponible del selector
    }

    //configuracion de valor prederminados por swiper
    .swiper-button-next,
    .swiper-button-prev {
        color: v.$blanco; //cambia a blanco el color de las flechas
    }
    .swiper-pagination-bullet {
        background-color: v.$blanco; //cambia a blanco el color de los puntos ubicados en la parte de abajo que indican la imagen en donde estamos
        opacity: .5;
    }
    .swiper-pagination-bullet-active {
        background-color: v.$primario; //cambia a blanco los 3 puntos 
    }
}


  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }